@model List<MvcLesson1.Models.Urun>
@{
    ViewBag.Title = "UrunListe";
}

<h2>Urun Listesi</h2>

<hr/>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Resim</th>
            <th>Ürün Adi</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="~/img/@item.Resim" />
            </td>
            <td>@item.UrunAdi</td>
            <td>@item.Fiyat</td>
            <td>
                <a href="/Home/Details/@item.UrunId" class="btn btn-primary btn-xs">Detay</a>
            </td>
        </tr>
        }
    </tbody>
    
</table>
